:root{
  --ee-font-default: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

  --ee-bg-color:rgba(0,0,0,0);
  --ee-text-color:rgba(0,0,0,0);

  --ee-hover-bg:rgba(0,0,0,0);
  --ee-hover-text:rgba(0,0,0,0);

  --ee-strip-bg:rgba(0,0,0,0);
  --ee-strip-text:rgba(0,0,0,0);

  --ee-highlight-bg:rgba(0,0,0,0);
  --ee-highlight-text:rgba(0,0,0,0);

  --ee-title-bg: rgba(40, 101, 211, 0.8)
}
